# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan


# aws keys
*accessKeys.csv

# ssh keys
*.pem
*.key
*.ppk

# env
.env
.env.*

# crash
crash.log

# lambda test responses
*_response.json
*_payload.json
response.json
policy.json

# markdowns
CICD.md
SSM-MIGRATION.md
VARIABLE-VALUE-SOURCE.md
